extensions/email/src/test/resources/sender.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">


    <email:sender name="config">
        <email:connection host="127.0.0.1" port="10222">
            <email:properties>
                <email:property key="prop" value="value"/>
            </email:properties>
        </email:connection>
    </email:sender>


    <flow name="sendEmail">
        <email:send config-ref="config" subject="Email Subject" content="#['Email Content']">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
        </email:send>
    </flow>

    <flow name="sendEmailWithAttachment">
        <email:send config-ref="config" subject="Email Subject" content="#['Email Content']">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
            <email:cc-addresses>
                <email:cc-address value="pablo.musumeci@mulesoft.com"/>
            </email:cc-addresses>
            <email:bcc-addresses>
                <email:bcc-address value="esteban.wasinger@mulesoft.com"/>
                <email:bcc-address value="alejandro.g.marra@mulesoft.com"/>
            </email:bcc-addresses>
            <email:attachments>
                <email:attachment data="#[Thread.currentThread().getContextClassLoader().getResource('attachment.json')]" id="id"/>
            </email:attachments>
        </email:send>
    </flow>

    <flow name="replyEmail">
        <email:reply config-ref="config" content="Email Content"/>
    </flow>

</mule>